
// color palet
$mainColor: #f8f8f8;
$secondaryColor: #121212;

$backgroundColor: rgba( 200, 200, 200, 0.3 );


// border vars
$borderStyle: 1px solid;
$borderRadius: 4px;


// font vars
$fontStack: Helvetica, sans-serif;

// grid
$basicPadding: 20px;